@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rubik+Gemstones&display=swap');

*{
    margin: 0px;
}
body{
    overflow: hidden;
}
.container{
    background-color: bisque;
    height: 820px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.one{
    /* overflow: scroll; */
    overflow-x: hidden;
    height: 820px;
    width: 50%;
    background-color: rgb(233, 217, 40);
    display: flex;
    flex-direction: column;
}
.two{
    height: 820px;
    width: 50%;
    background-color: rgb(1, 1, 1);
    display: flex;
    flex-direction: row;
    overflow: hidden;

}
#button{
    width: 100%;
    height: 100px;
    background-color: red;

    cursor: pointer;
    font-size: 20px;
    font-family: 'Rubik Gemstones', cursive;
    border-color: rgb(157, 28, 28);
}
#button:focus{
    background-color: antiquewhite;
}
#display{
    text-align: center;
    margin-top: 40%;
    font-family: 'Rubik Gemstones', cursive;
    color: white;
    font-weight: 100;
}
.image{
    width: 400px;
    height: 400px;
    background-color: blue;
}
.text{
    text-align: center;
    margin-top: 40%;
    font-family: 'Rubik Gemstones', cursive;
    color: rgb(202, 24, 24);
    font-weight: 100;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}
#img{
width: 200px;
height: 200px;
margin-top: 40%;
margin-left: 50px;
border-radius: 50%;
}
.detail-section{
    height: 800px;
    width: 500px;
    /* background-color: rgb(248, 248, 248); */
    margin-left: 20%;
}
#profile{
    width: 60px;
    height: 60px;
    margin-left:-700px;
    border-radius: 50%;
}
#proname{
    font-weight: 200;
    margin-top: -50px;
}
