@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rubik+Gemstones&display=swap');

*{
    margin: 0px;
}
body{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
}
.container{

    background-color: bisque;
    height: 820px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.one{
    margin-bottom: 100px;
    overflow: scroll;
    overflow-x: hidden;
    height: 790px;
    width: 50%;
    background-color: rgb(233, 217, 40);
    display: flex;
    flex-direction: column;
}
.two{

    height:820px;
    width: 50%;
    background-color: rgb(1, 1, 1);
    display: flex;
    flex-direction: row;


}
#button{
    width: 100%;
    height: 100px;
    background-color: red;

    cursor: pointer;
    font-size: 20px;
    font-family: 'Rubik Gemstones', cursive;
    border-color: rgb(157, 28, 28);
}
#button:focus{
    background-color: antiquewhite;
}
#display{
    text-align: center;
    margin-top: 40%;
    font-family: 'Rubik Gemstones', cursive;
    color: white;
    font-weight: 100;
}
.image{
    width: 400px;
    height: 400px;
    background-color: blue;
}
.text{
    text-align: center;
    margin-top: 40%;
    font-family: 'Rubik Gemstones', cursive;
    color: rgb(202, 24, 24);
    font-weight: 100;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}
#img{
width: 200px;
height: 200px;
margin-top: 40%;
margin-left: 50px;
border-radius: 50%;
border: 5px dashed white;
}
.detail-section{
    height: 800px;
    width: 500px;
    /* background-color: rgb(171, 31, 31); */
    margin-left: 5%;
}
#profile{
    width: 60px;
    height: 60px;
    margin-left:-680px;
    border-radius: 50%;
    border: 5px solid white;
}
#proname{
    font-weight: 200;
    margin-top: -50px;
}

::-webkit-scrollbar {
    width: 10px;
  }

/* Track */
::-webkit-scrollbar-track {
    background: #1f0808;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(68, 232, 117);
    border-radius: 20px;
    height: 50px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(31, 216, 142);
  }
